html,
body {
  font-size: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

/* Root variables */
:root {
  --primaryColor: #eff3f5;
  --secondaryColor: #f3f6f7;
  --tertiaryColor: #020c0f;
}

/* Utility Classes */
a {
  text-decoration: none !important;
}
.card {
  border: none !important;
  background: transparent !important;
}
.text-primaryColor {
  color: var(--primaryColor) !important;
}
.text-secondaryColor {
  color: var(--secondaryColor);
}
/* Background color */
.bg-primaryColor{
  background: var(--primaryColor) !important;
}
.bg-secondaryColor{
  background: var(--secondaryColor);
}
.bg-tertiaryColor{
  background: var(--tertiaryColor) !important;
}



/* Form Classes */
.form-control {
  display: block;
  width: 100%;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryColor);
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity)) !important;
  background-clip: padding-box;
  border: none !important;
  border-radius: 10px;
}

.grey-hover {
  font-size: 18px;
  transition: all 0.3s ease-in;
}
.grey-hover:hover {
  background-color: rgb(12, 1, 1);
}
.btn-blue {
  padding: 0px 24px;
  border: 1px solid transparent;
  border-radius: 48px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  cursor: pointer;
  height: 48px;
  min-width: 48px;
  transition: all 0.5s ease-in;
}
.btn-blue:hover {
  background: #138fc1;
}
::-webkit-scrollbar{
  width: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #138fc1 inset;
  transition: background-color 5000s ease-in-out 0s;
}